<div class="jumbotron">
    <h1>EaseCentral</h1>
    <p class="lead">EaseCentral API</p>
    <p><a href="https://www.easecentral.com/
" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>EaseCentral</h2>
        <p>EaseCentral API</p>
        <p><a class="btn btn-default" href="https://www.easecentral.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>EaseCentral</h2>
        <p>EaseCentral API</p>
        <p><a class="btn btn-default" href="https://www.easecentral.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>EaseCentral</h2>
        <p>EaseCentral API</p>
        <p><a class="btn btn-default" href="https://www.easecentral.com/">Learn more &raquo;</a></p>
    </div>
</div>
